body{
    margin: 0px;
    padding: 0px;
    background-color: #000;
    text-align: center;
}
h1{
    color:white;
    font-size: 40px;
    margin: 0px;
}

h3{
    color:white;
    margin: 0px;
}

canvas{
    border: 5px solid #081510;
    box-shadow: 5px 5px 5px #000;
}

@font-face {
    font-family: font1;
    src: url('./src/assets/images/font.TTF');
    font-weight:400;
    font-weight:normal;
  }