body{
    margin: 0px;
    padding: 0px;
    /* background-color: #081510; */
}
h1{
    color:red;
    font-size: 40px;
    margin: 0px;
}

h3{
    margin: 0px;
}

canvas{
    border: 5px solid #081510;
}

@font-face {
    font-family: font1;
    src: url('./src/assets/images/font.TTF');
    font-weight:400;
    font-weight:normal;
  }